[2016-01-25 18:12] KunalKapadia opened #1 "Image for README"
![collage-2016-01-25](https://cloud.githubusercontent.com/assets/4172932/12559828/4a17edca-c3bd-11e5-815c-0e24534b5715.jpg)

[2016-01-25 18:33] KunalKapadia commented on #1
![collage](https://cloud.githubusercontent.com/assets/4172932/12560357/41ba5c50-c3c0-11e5-84b4-218cef4fcbdc.jpg)

[2016-01-25 18:40] KunalKapadia commented on #1
![collage-original-high-res 2](https://cloud.githubusercontent.com/assets/4172932/12560514/3a678a08-c3c1-11e5-94b3-b4ce2cbd8e21.jpg)

[2016-01-25 20:26] KunalKapadia commented on #1
![api hit detailed info](https://cloud.githubusercontent.com/assets/4172932/12563354/f0a4b558-c3cf-11e5-9d8c-66f7ca323eac.JPG)

[2016-01-25 20:26] KunalKapadia commented on #1
![error stack trace](https://cloud.githubusercontent.com/assets/4172932/12563361/fb9ef108-c3cf-11e5-9a58-3c5c4936ae3e.JPG)

[2016-01-27 15:58] KunalKapadia commented on #1
![code coverage summary](https://cloud.githubusercontent.com/assets/4172932/12619174/f581647c-c53c-11e5-8b0f-f0764391bd45.JPG)

[2016-01-27 19:23] KunalKapadia commented on #1
![detailed code coverage](https://cloud.githubusercontent.com/assets/4172932/12625331/571a48fe-c559-11e5-8aa0-f9aacfb8c1cb.jpg)

[2016-01-28 22:10] KunalKapadia commented on #1
![collage 2](https://cloud.githubusercontent.com/assets/4172932/12660480/f42aefd2-c639-11e5-8dfa-a26da868e7ee.jpg)

[2016-01-28 22:15] KunalKapadia commented on #1
![collage 1 2](https://cloud.githubusercontent.com/assets/4172932/12660610/90f5b856-c63a-11e5-878e-c9f0bbf33090.jpg)

[2016-02-04 19:58] KunalKapadia commented on #1
![code coverage summary 2](https://cloud.githubusercontent.com/assets/4172932/12827832/a0531e70-cba7-11e5-9b7c-9e7f833d8f9f.JPG)

[2016-02-12 10:19] #1 closed

[2016-02-15 15:03] KunalKapadia opened #6 "Upgrade to eslint v2."
[eslint v2 released](http://eslint.org/blog/2016/02/eslint-v2.0.0-released)

[2016-05-03 10:24] iantanwx opened #8 "nodemon watch does not trigger restart on change"
Tried with stock gulpfile, but making changes to the source folder doesn't cause nodemon to trigger dependent tasks and/or restart. Using node v5.8.0.

[2016-05-22 10:50] quanganh206 commented on #8
I think you forget start mongo

[2016-05-22 10:55] KunalKapadia commented on #8
@iantanwx Can you please attach a screenshot ?
Is you `npm start` working fine ?

[2016-05-22 14:51] quanganh206 commented on #8
Yes, gulp also fine

[2016-06-01 23:40] dsikes opened #10 "path issue"
When running your code i get the following error:

        /express-mongoose-es6-rest-api/node_modules/kew/kew.js:198
              throw e
              ^
        TypeError: Path must be a string. Received undefined

I am working on figuring out what the problem is now, but thought I'd post it here so you would be aware of it.

I cloned it down, cd'd into it, ran NPM install,  and then DEBUG=expr

[2016-06-02 00:04] dsikes commented on #10
![image](https://cloud.githubusercontent.com/assets/8764573/15729606/bcb88076-2833-11e6-8c24-f6b326dec050.png)

So, the issue that I found was inside of the gulp task on line 67. I am unsure what is causing the error, because if I remove that line, run it, it works... then I can add that line back, run it, and it still works. But trying to run it, while the dist directory is empty, it fails. So, I

[2016-06-02 07:21] KunalKapadia commented on #10
@dsikes Can you let me know the node version you are using ?

[2016-06-02 17:44] nylsoo commented on #10
@KunalKapadia running into the same problem. My node version is v6.2.0.

[2016-06-02 21:34] dsikes commented on #10
@KunalKapadia I am running v6.2.0 as well. Thanks @nylsoo! About to try again after instlaling `path`.

[2016-06-02 21:41] dsikes commented on #10
![image](https://cloud.githubusercontent.com/assets/8764573/15761939/04e4b242-28e9-11e6-98d8-6574fe46da9c.png)

The issue was **NOT** resolved by installing path. The error is being thrown in the `kew` package. @KunalKapadia  Could you try installing on Node 6.2.0 and seeing if you can duplicate the issue? I want to make sure its not something I'm doing wrong.

[2016-06-02 22:46] nylsoo commented on #10
@dsikes Sorry, forgot to mention that i updated babel-core to 6.9.1. This removed the Path must be a tring error for me.

[2016-06-03 14:11] KunalKapadia commented on #10
@nylsoo Thanks for the resolution. Updated [master](https://github.com/KunalKapadia/express-mongoose-es6-rest-api/commit/ba75dc203f9c34d9a09b0cc36f5113a2ea94acfb) branch

[2016-06-03 14:13] #10 closed

[2016-06-14 00:27] odieatla opened #11 "Error type is always 'Error'"
Line 67 of code file ./config/express.js:

`const err = new APIError('API not found', httpStatus.NOT_FOUND);`

put following code after the above:

`console.log(err instanceof APIError);` // output false

To my understanding, the output should be true, since err is an instance of APIError?

node version 6.2.0

Thanks,

[2016-06-18 02:18] woniesong92 opened #12 "App crashes after a fresh install"
`gulp serve` fails.

[code]

[2016-06-19 16:52] KunalKapadia commented on #12
Hi Howon,

MongoDB isn't running on your system. Can you please make sure you have
mongoDB up and running at port 27017.

Regards,
Kunal
On Jun 18, 2016 7:48 AM, "Howon Song" <notifications@github.com> wrote:

[2016-06-19 16:54] #8 closed

[2016-06-19 16:55] #6 closed

[2016-06-19 20:06] woniesong92 commented on #12
That was it

[2016-06-19 20:06] #12 closed

[2016-06-27 09:17] KunalKapadia opened #13 "Add helmet to secure express app"
https://github.com/helmetjs/helmet

[2016-06-29 07:31] KunalKapadia opened #14 "Add Swagger"
https://github.com/swagger-api/swagger-node

[2016-06-29 07:33] KunalKapadia opened #15 "PRs welcome tag"

[2016-06-29 09:28] #15 closed

[2016-06-30 10:08] KunalKapadia opened #16 "Update dependencies"

[2016-07-14 07:35] KunalKapadia opened #17 "Add .editorconfig"

[2016-07-15 13:50] KunalKapadia opened #19 "API Authentication oAuth2"

[2016-07-15 14:05] #17 closed

[2016-07-15 15:05] #13 closed

[2016-07-22 09:19] cyrilchapon commented on #19
Or at least JWT simple auth ;)

[2016-08-07 09:31] sergio11 opened #25 "express validation on param converter"
Hi,

How I can use validation in a param converter?
I wanted to use Joi.objectId () to validate that this is a mongodb valid id

[code]

Thanks and regards

[2016-08-09 03:25] i2joseph opened #26 "Error: API not found at APIError.ExtendableError"
Help. I just clone it and run it and got this error below. Please help. Thanks.
Error: API not found at APIError.ExtendableError

{"message":"Not Found","stack":"Error: API not found\n    at APIError.ExtendableError (/Users/joseph/Documents/node-heroku/express-mongoose-es6-rest-api/dist/server/helpers/APIError.js:35:11)\n    at new APIError (/Users/joseph/Documents/node-heroku/express-mongoose-es6

[2016-08-11 20:57] tutts commented on #26
try going to `http://localhost:3000/api/health-check`

[2016-08-12 14:51] i2joseph commented on #26
@tutts gave me result OK. But I am still getting this error. Thanks.

[2016-08-12 14:58] i2joseph commented on #26
I found the problem. Sorry my mistake. Thanks.

[2016-08-12 14:58] #26 closed

[2016-08-16 18:44] KunalKapadia commented on #25
Hi @sergio11

You can validate mongo id like this.
You have to this for each api validation having `id` in the API path as this cannot be done directly with param converter.

[code]

[2016-08-16 18:45] KunalKapadia opened #27 "API Authentication using jsonwebtoken"

[2016-08-17 08:16] sergio11 commented on #25
Thanks for answering.
As you say, I am validating on each endpoint the param id.

[code]

The problem is that the param converter runs before and causes the following error when I provide an invalid _id (/api/users/dsadas232):

**CastError: Cast to ObjectId failed for value "dsadas232" at path "_id"**

I am looking forward to your response. regards

[2016-08-17 08:42] KunalKapadia commented on #25
@sergio11 It should be `id: Joi.objectId()`. Can you try with this change ?

[2016-08-17 08:56] sergio11 commented on #25
I've already changed it and I still get the same error.

[2016-08-17 09:17] KunalKapadia commented on #25
@sergio11 oh sorry. **CastError: Cast to ObjectId failed for value "dsadas232" at path "_id"** is actually valid errors. Trying using `/api/users/57a3079225028ce79705e88b` and you won't get the error.

http://stackoverflow.com/questions/13850819/can-i-determine-if-a-string-is-a-mongodb-objectid

[2016-08-18 13:28] KunalKapadia opened #28 "Add a upload image API"

[2016-08-18 13:29] KunalKapadia commented on #19
@cyrilchapon Will soon be integrating JWT :)

[2016-08-18 13:54] cyrilchapon commented on #19
Great !

[2016-08-18 16:34] cyrilchapon commented on #27
Some pieces of information to maybe help :

- The base [spec](http://self-issued.info/docs/draft-ietf-oauth-json-web-token.html)
- An implementation by myself, inpired by [this one](https://thesabbir.com/how-to-use-json-web-token-authentication-with-sails-js/). It works under sails.js, but if one abstracts the MVC logic, he might understand the process :
  - [config and strategies definition](http

[2016-08-20 15:26] #27 closed

[2016-08-20 15:27] KunalKapadia commented on #27
@cyrilchapon Added support for jwt authentication.

[2016-08-21 11:31] colinwitkamp opened #31 "'gulp serve' not running in Node.js 6.2.2(NPM 3.9.5)"
After running  'npm install', I tried to run 'gulp serve'.
I am getting the following error:

[12:57:48] Failed to load external module babel-register
[12:57:48] Failed to load external module babel-core/register
[12:57:48] Failed to load external module babel/register
/Volumes/MACDATA/Current_Work/uslikey/project/express-mongoose-es6-rest-api/gulpfile.babel.js:1
(function (exports, require, modul

[2016-08-22 07:43] tluanga opened #32 "server error"
{"message":"Not Found","stack":"Error: API not found\n    at APIError.ExtendableError (d:\\Dev\\express-mongoose-es6-rest-api-master\\server1\\dist\\server\\helpers\\APIError.js:35:11)\n    at new APIError (d:\\Dev\\express-mongoose-es6-rest-api-master\\server1\\dist\\server\\helpers\\APIError.js:63:77)\n    at d:\\Dev\\express-mongoose-es6-rest-api-master\\server1\\dist\\config\\express.js:122:13

[2016-08-22 18:16] KunalKapadia commented on #32
@tluanga
Can you please let me know what API are you hitting ?

[2016-08-23 04:19] tluanga commented on #32
its working.. thans..
Can you please make an extensive tutorial and documentation for beginners just like me. I want to use this for my project

[2016-08-27 21:28] KunalKapadia commented on #32
@tluanga README has all the steps required to work with the project.

[2016-08-27 21:28] #32 closed

[2016-08-27 21:28] #25 closed

[2016-09-01 23:17] ruler88 opened #33 "Error use line number in original code using sourcemap instead of /dist code"
The error logging points to the line number in the /dist code. Given that we have the sourcemap from gulp, is it possible to point to the file and line number based on the original code?

[2016-09-07 12:41] dguard opened #34 "Great workflow to develop"
Hello,
I am using express-mongoose-es6-rest-api to build my REST API,
thanks for the product I am very like it!

But issue that it requires enough time to me to debug any error while development and write code for next feature

My workflow is:
1. Run npm start with nodemon in one console
2. Run npm test in other console (with nodemon, nodemon /usr/bin/gulp test)
3. I write one test for feature and

[2016-09-11 12:01] sergio11 opened #35 "Coverage failed"
Hi, I am having problems with the plugin gulp -istanbul.

When I do commit, all tests are passed but the process fails to make the coverage

[code]

[2016-09-11 20:03] KunalKapadia commented on #35
Hi @sergio11

Its because we have enforced code coverage of 80% globally.
You can update it as per your requirements on https://github.com/KunalKapadia/express-mongoose-es6-rest-api/blob/master/gulpfile.babel.js#L21

[2016-09-12 10:40] sergio11 commented on #35
ok, thanks

[2016-09-12 10:40] #35 closed

[2016-09-14 11:51] petergombos commented on #34
Same issue here, unfortunately current setup is not ideal for TDD.

[2016-09-16 11:47] KunalKapadia opened #37 "Mongoose debug"
Add mongoose debug

+if (process.env['MONGOOSE_DEBUG']) {
 +  mongoose.set('debug', function (collectionName, method, query, doc) {
 +    console.log(
 +      `${collectionName}.${method}`,
 +      require('util').inspect(query, false, 20),
 +      doc
 +    )
 +  })
 +}

[2016-09-18 13:28] KunalKapadia opened #38 "Instead of promisifying all methods of mongoose, plugin bluebird into mongoose"

[2016-09-23 05:18] cbgrasshopper commented on #26
What was the problem & solution?

[2016-09-23 15:58] #38 closed

[2016-09-23 15:58] KunalKapadia opened #44 "Update eslint to v3.5"

[2016-09-23 15:58] KunalKapadia opened #45 "Move from gulp to npm task for eslint"

[2016-09-23 17:07] #44 closed

[2016-09-28 10:00] KunalKapadia opened #48 "Make bluebird as default promise overriding ES6 promise"
Source: https://github.com/mzabriskie/axios/pull/115

[2016-09-29 16:08] #45 closed

[2016-09-29 16:10] KunalKapadia commented on #31
@colinwitkamp Are you still getting the error ?

Test suite successfully runs against node.js v4.5 and v6.6.

[2016-09-29 16:28] colinwitkamp commented on #31
Hey,
It is working correctly now!
Thanks for your support!

On Thu, Sep 29, 2016 at 6:10 PM, Kunal Kapadia <notifications@github.com>
wrote:

[2016-09-29 19:36] #31 closed

[2016-09-29 19:36] #16 closed

[2016-09-29 19:46] KunalKapadia commented on #19
@cyrilchapon JWT has been integrated, in case you are looking for it. :)

[2016-09-30 07:38] cyrilchapon commented on #19
Good. Watching this repo for a while. :) nice work on it

[2016-09-30 14:59] alirezavalizade opened #52 "I cant serve Any static file"
Im have image file in my public folder and added this code but it's not working :
`
app.use("/public", express.static(path.join(__dirname, '/public')));
`

[2016-10-01 12:09] laumair commented on #26
@cbgrasshopper If you are facing the same problem, I believe the mistake you are making is skipping `/api`, so instead of hitting `localhost:3000/users` you should be doing `localhost:3000/api/users`. Hope that helps.

[2016-10-01 12:18] laumair opened #55 "gitignore OS files"
Hey, first of all great starter kit.

I've recently started playing with it and its awesome. I looked into the `gitignore` file and there isn't mentioned any script for ignoring OS specific files. Are PRs welcomed? If you agree this, needs to be added I'd be more than happy to contribute.

[2016-10-01 17:49] KunalKapadia commented on #55
@laumair Yes PRs are welcome :)

[2016-10-01 22:27] laumair commented on #55
@KunalKapadia https://github.com/KunalKapadia/express-mongoose-es6-rest-api/pull/58 :)

[2016-10-01 22:32] laumair commented on #52
@alirezavalizade Where exactly have you added this? Can you show the whole file?

[2016-10-01 22:43] laumair opened #59 "Socket.io integration"
@KunalKapadia Ever planning on including optional socket.io?

[2016-10-02 00:46] laumair commented on #34
+1 for this. I think too this should be made more optimized.

[2016-10-02 08:32] #55 closed

[2016-10-02 08:32] KunalKapadia commented on #19
Thanks @cyrilchapon :)

[2016-10-02 17:32] laumair commented on #28
@KunalKapadia Is this done? I can work on this.

[2016-10-03 07:12] KunalKapadia commented on #28
@laumair Not done. It'd be great if you can pick this up.
Let's discuss what package we should be using for file upload.

[2016-10-03 16:41] laumair commented on #28
@KunalKapadia Awesome. Do you have any packages in your mind? I have some in mind but I used to use them a couple of months ago, I would have to check on those.

[2016-10-04 07:16] mmestani commented on #33
@KunalKapadia @laumair I have same question.

[2016-10-04 15:33] ruler88 commented on #33
@mmestani I actually figured this out. I installed this npm modules: https://github.com/evanw/node-source-map-support

Follow the installation direction and the sourcemap line number issue gets solved automagically!

[2016-10-04 16:50] laumair commented on #33
@mmestani Currently the boilerplate misses this functionality. @KunalKapadia maybe you need to take a look if its important to add. Otherwise, @ruler88 managed to sort it out with https://github.com/evanw/node-source-map-support.

P.S: I haven't really used this one. Seems good to me.

[2016-10-04 18:58] mmestani commented on #33
@ruler88 @laumair thanks, I'll try this one. for my opinion its good to have buit-in. This project looks very promising to me :)

[2016-10-07 09:05] KunalKapadia commented on #33
@laumair Would you like to take this up as well ?
If not, I'll start working on this. Seems like a small one.

[2016-10-12 12:43] #37 closed

[2016-10-12 12:45] KunalKapadia commented on #28
@laumair I don't have anything mind. Can you let me know what package are you planning to use and what are available options ?

[2016-10-12 13:03] KunalKapadia opened #82 "Replace all gulp tasks with npm"

[2016-10-13 13:49] KunalKapadia commented on #59
@laumair Not sure if socket.io is a generic use case.
If we plan to include it, what example can we include as part of this boilerplate ?

[2016-10-13 13:54] laumair commented on #28
@KunalKapadia Sorry have been a busy lately. https://github.com/expressjs/multer is what I had in mind. Thoughts?

[2016-10-13 13:55] laumair commented on #28
Or maybe https://www.npmjs.com/package/express-fileupload

[2016-10-13 13:56] laumair commented on #33
@KunalKapadia Apologies for the late reply. Have been really busy with stuff. Is this picked already? @mmestani

[2016-10-13 13:58] laumair commented on #59
@KunalKapadia I think we can make one. We can certainly design it in a way that those who want to use it built-in, great! Otherwise we will make it optional. We can certainly add some good implementation examples with some client side as well and I personally believe that would be a great plus.

[2016-10-13 14:00] laumair commented on #59
Though this wouldn't be a small change. So, I think I want to be sure if we want to add it ATM. I am in progress of writing a sort of a wrapper service micro-lib for `react-redux` projects. Might be a good chance to basically use that an example.

[2016-10-14 07:27] KunalKapadia commented on #28
@laumair I am fine with any reliable module but we need to make sure that it supports streaming.
We want to avoid downloading the whole file first.
Check this: http://stackoverflow.com/questions/11295554/how-to-disable-express-bodyparser-for-file-uploads-node-js

Can you explore these alternatives:
1. https://www.npmjs.com/package/multiparty
2. https://www.npmjs.com/package/formidable
3. https://g

[2016-10-14 07:29] KunalKapadia commented on #33
@laumair Not picked up. Please feel free to raise a PR.

[2016-10-14 09:05] KunalKapadia commented on #28
Did a bit of research on the above modules. `multer` looks good and satisfies our requirements.

[2016-10-16 12:14] kkak10 commented on #11
I same error too

[2016-10-16 12:25] kkak10 opened #90 "How API Port Change ?"
I'm just port change.

I'm change source code in config/env port is 3001.

After All API response is "API Not Found".

even also health check API result is same.

[2016-10-16 12:34] #90 closed

[2016-10-16 16:51] hananwm opened #92 "Avoid duplicate file names for controllers, models & routes"
consider renaming controllers, routes & models files by a naming convention.

user.controller.js
user.model.js
user.route.js

It makes the project navigation a lot easier

[2016-10-16 18:21] #92 closed

[2016-10-16 18:22] KunalKapadia commented on #92
@hananwm Thanks for the suggestion. It has been incorporated. Please check. :)

[2016-10-16 18:24] KunalKapadia commented on #34
@dguard @petergombos @laumair Can you try `npm run test:watch` now ?
It should just work in fraction of sec. Please let me know if this satisfies your requirement.

[2016-10-16 18:48] KunalKapadia opened #98 "Changes in env config"

[2016-10-16 19:18] ibnclaudius opened #100 "Lint is not running in files in the root of config folder"
Lint is not running in files in the root of config folder.

[2016-10-16 20:54] #100 closed

[2016-10-16 21:02] KunalKapadia commented on #100
Thanks @ibnclaudius for pointing it out. Have fixed it.

[2016-10-17 18:44] #52 closed

[2016-10-19 15:15] hananwm commented on #92
@KunalKapadia Awesome! keep up with the inspiring work!

[2016-10-24 18:56] KunalKapadia commented on #28
@laumair Did you get chance to work on this ?

[2016-10-24 18:57] KunalKapadia commented on #34
@dguard @petergombos @laumair Guys it'll be great if you can test and let me know your feedback So that I can close this one.

[2016-10-26 10:18] KunalKapadia opened #116 "Replace gulp tasks with npm tasks in README"

[2016-10-26 10:22] KunalKapadia opened #117 "Add contributing guidelines"

[2016-10-26 10:22] KunalKapadia opened #118 "Add tests for jwt"

[2016-10-26 13:19] #48 closed

[2016-10-26 13:38] #116 closed

[2016-10-26 13:41] KunalKapadia opened #122 "Update node version in travis.yml"

[2016-10-26 13:49] #122 closed

[2016-10-26 13:50] KunalKapadia opened #124 "Add support for node v4 in travis"

[2016-10-26 13:58] #124 closed

[2016-10-28 03:05] SharkChips commented on #117
I'm on it!

[2016-10-28 11:39] laumair commented on #28
@KunalKapadia Gonna start on this weekend. Is it high on priority?

[2016-11-10 06:42] kunalkapadia opened #141 "Add Docker Support"

[2016-11-14 18:48] KunalKapadia commented on #28
@laumair Any updates? Should I pick this up ?

[2016-11-14 18:54] laumair commented on #28
@KunalKapadia Nah I think I'll be making a PR in a couple of days. Probably till this friday.

[2016-11-18 09:08] ajainvivek commented on #52
How can I serve static files from current working directory. I have added public folder in root and it doesn't serve

[code]

[2016-11-18 09:09] ajainvivek opened #149 "Serving Static Assets Fails"
How can I serve static files from current working directory. I have added public folder in root and it doesn't serve

[code]

[2016-11-18 14:57] KunalKapadia commented on #149
@ajainvivek Please refer https://expressjs.com/en/starter/static-files.html for static assets.

[2016-11-20 09:58] ajainvivek commented on #149
I got it fixed. Thanks mate 👍

[2016-11-20 09:58] #149 closed

[2016-11-21 10:35] wassimz opened #151 "Istanbul issue in Windows"
Hi,

When run the test script, I got the same error as [here](https://github.com/gotwarlost/istanbul/issues/677).
I am running under windows (node v5).

Any hint to solve it ?

[2016-11-22 02:49] laumair commented on #28
@KunalKapadia Have started working on this. I am going with adding an endpoint for the upload and have added configuration file for `multer` for validating file extensions to only support images atm. Do you have anything in mind that I should know of?

[2016-11-23 09:52] KunalKapadia commented on #151
@wassimz Can you try this npm test cmd
`"test": "NODE_ENV=test babel-node node_modules/.bin/isparta cover node_modules/mocha/bin/_mocha -- --ui bdd --reporter spec --colors --compilers js:babel-core/register ./server/**/*.test.js"`

I have just replaced `_mocha` with `node_modules/mocha/bin/_mocha`

[2016-11-23 09:53] KunalKapadia opened #154 "Use node-config for env vars"

[2016-11-23 10:07] wassimz commented on #151
@KunalKapadia

Yes I have already tried and still getting the same issue exception. Below is what I am getting:

 --reporter spec --colors --compilers js:babel-core/register ./server/**/*.test.js

basedir=$(dirname "$(echo "$0" | sed -e 's,\\,/,g')")
          ^^^^^^^
SyntaxError: missing ) after argument list
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (module.js:404:25)

[2016-11-23 17:49] KunalKapadia commented on #151
@wassimz Can you try the same with node v4 or node v6. As v6 is the LTS version right now ?

[2016-11-23 17:49] KunalKapadia opened #156 "Replace npm with yarn"

[2016-11-23 19:12] #156 closed

[2016-11-23 19:29] #59 closed

[2016-11-23 19:29] #34 closed

[2016-11-23 19:30] #98 closed

[2016-11-24 06:41] wassimz commented on #151
OK I will try to install the v6 and I will keep informed. Thanks

[2016-11-24 10:54] vincaslt opened #160 "Cant run tests on windows"
Running `yarn test` I am getting an error saying that NODE_ENV is not recognized as a command. The line which is being run: `NODE_ENV=test babel-node node_modules/.bin/isparta cover _mocha -- --ui bdd --reporter spec --colors --compilers js:babel-core/register ./server/**/*.test.js`

[2016-11-24 11:20] wassimz commented on #160
Same issue as here #151

[2016-11-24 13:18] vincaslt commented on #160
I've changed the line to `set NODE_ENV=test node_modules/.bin/babel-node node_modules/.bin/isparta cover _mocha -- --ui bdd --reporter spec --colors --compilers js:babel-core/register ./server/**/*.test.js`

Which now runs on windows, but it only says Executed in 0.07s and no output...

[2016-11-24 14:00] KunalKapadia opened #161 "Set appveyor for Windows testing"

[2016-11-24 14:03] KunalKapadia commented on #160
@vincaslt @wassimz I'll set up appveyor for testing on Windows #161
Please let me know you guys want to contribute to the same.

[2016-11-27 10:51] wassimz commented on #160
@KunalKapadia

It's fine for me.

[2016-11-28 23:43] mhueter commented on #11
I just ran into this as well.

https://stackoverflow.com/questions/33832646/extending-built-in-natives-in-es6-with-babel

It's a problem with Babel. Node 6 and 7 by themselves allow you to extend error without a problem.

[2016-12-05 02:24] freemind- commented on #28
multer +1

[2016-12-06 07:27] wassimz commented on #28
multer +1

[2016-12-06 07:47] wassimz commented on #151
@KunalKapadia

I have tried with the latest LTS version (6.9.1) and still get the same issues.

[2016-12-06 07:49] wassimz commented on #160
@vincaslt
You have missed to add the "__&&__" after "__set NODE_ENV=test__"

[2016-12-06 15:56] stefanwalther commented on #141
Hi @KunalKapadia, I very much like your boilerplate, just stopped with a similar effort I have started with and just looking how I can contribute.
Related to this issue, what is your thinking:

- Create e.g. a circle-ci job that runs all the tests and if successful create an image on docker-hub
- Or was it more about to spin up the dev-environment using mongoose?

I am interested in both, having t

[2016-12-07 05:34] Altiano opened #172 "Gulp is starting twice"
I don't know whether this is a intended or not but this is quite slow when on development.
*You can produce the same result just by changing `/api/health-care` response text from `OK` to anything
Any Solution?

![image](https://cloud.githubusercontent.com/assets/8316282/20955951/e1ecca72-bc81-11e6-884f-5c9248bed33a.png)

[2016-12-07 05:57] ditproz opened #173 "Server not refreshing correctly."
First time for using this package.  After following the install procedures, getting the server up, running and listening, I have tried to post a user to test the next step of the API...  The response I got was....
[code]
Which is legitimate, however - even when I change the user model to the following:

[code]

I still get the same error - this happens despite doing a clear restart of the server (

[2016-12-07 09:18] KunalKapadia commented on #173
@ditproz That's because you are not getting error from mongoose schema. You are getting error from param validation https://github.com/KunalKapadia/express-mongoose-es6-rest-api/blob/develop/config/param-validation.js#L8

[2016-12-07 09:41] KunalKapadia commented on #172
@Altiano I tried to reproduce this, but for me it restarted only once. May be you made changes and saved twice ?

[2016-12-07 10:23] ditproz commented on #173
Many thanks!

[2016-12-07 10:23] #173 closed

[2016-12-07 11:13] Altiano commented on #172
well, it always happens if I use atom, what text editor do you use?

[2016-12-08 19:39] KunalKapadia commented on #172
@Altiano I use WebStorm, did you try with any other text editor ?

[2016-12-10 07:51] Altiano commented on #172
I'll try it, thanks

[2016-12-12 07:29] Altiano commented on #160
@wassimz I get this error then
![image](https://cloud.githubusercontent.com/assets/8316282/21091231/d06a4a3e-c07f-11e6-93a7-475f9956343c.png)

[2016-12-12 07:30] Altiano commented on #151
same issue

[2016-12-12 07:34] wassimz commented on #160
@Altiano
Yes this is the same error we got when running test on windows environment

[2016-12-12 17:22] KunalKapadia commented on #141
@stefanwalther Would soon be integrating Docker which will serve both the above use cases. On CI, it'll create a image, spawn a container with that images where it'll install dev dependencies and run test cases. I have already started working on this. Would add you as reviewer on the PR.

Please let me know if you have any more feedback on this. Also please feel free to contribute to other issues

[2016-12-12 17:23] KunalKapadia commented on #28
@laumair Any update ?

[2016-12-14 10:19] #117 closed

[2016-12-15 07:07] ouzhou opened #184 "have problem in auth"
i find the user's CRUD don't have auth, i hope it have a permission control,  so that the administrator can handle the user instead of visitors

[2016-12-15 07:11] simonschllng commented on #184
The default login user is hard coded into the auth module for demo. You
have to combine it with a user list yourself.

Am 15.12.2016 08:07 schrieb "欧舟" <notifications@github.com>:

[2016-12-15 12:27] stefanwalther commented on #141
Great! Happy to help ...

[2016-12-15 15:47] ouzhou commented on #184
@simonschllng ok, i understand .
by the way, i think the plugin del should using by  del.sync

[2016-12-16 10:48] simonschllng opened #185 "Pass req.body directly into mongoose model?"
I notice that this project reads every single parameter from `req.body` into a new object just to create the database instance from it. Example from _user.controller.js_:

[code]

Is there a reason for that? Why not simply to `new User(req.body)`?

[2016-12-17 18:47] KunalKapadia commented on #185
@simonschllng `req.body` can have params that may not be the field of user. No particular reason other than this, basically boils down to personal preferences.

[2016-12-19 03:38] ouzhou opened #190 "Maybe use babel-cli will be better"
i think use babel-node is better than gulp-babel

here are my package.json
![image](https://cloud.githubusercontent.com/assets/7693866/21300447/0881e8dc-c5df-11e6-9346-aabd3eabcdb4.png)

[2016-12-19 08:09] simonschllng commented on #190
You should explain why. A "maybe" wouldn't be enough for me to change my project.

[2016-12-19 10:44] ouzhou commented on #190
Babel-node can run es6 or es7 directly. when the file changed, gulp will  compile es6 to es5 and copy to dist, but it is really necessary?

[2016-12-19 11:02] #185 closed

[2016-12-19 11:20] simonschllng opened #192 "Error handling and mongoose validation errors"
During development it is useful to see the full error reported by mongoose. E.g. you forget to assign a required parameter.

At the moment I only get `ValidationError: MyModel validation failed` and a useless stack trace (all methods are part of the error handling module).

Mongoose adds details in the `err.errors` property.

What would be the best way to get these error details through the error

[2016-12-20 08:32] KunalKapadia commented on #172
@Altiano Closing this for now. Let me know if you have any more questions.

[2016-12-20 08:32] #172 closed

[2016-12-27 14:15] delsner commented on #160
I created a PR for this issue #205

[2016-12-27 14:16] delsner commented on #151
I created a PR for this issue #205

[2016-12-28 15:54] KunalKapadia opened #206 "Graceful shutdown"

[2016-12-29 02:51] rfines opened #207 "Deploy to heroku"
I am trying to use this boilerplate and deploy the resulting api to Heroku but I am running into a host of problems. First among them is that no matter what I do the dist directory is not found so I am unable to run the dist/index.js file even after removing the dist/ directory from the .gitignore.

I am currently seeing this in the logs:

    Starting process with command `node dist/default`
  mo

[2016-12-29 05:36] ouzhou commented on #206
Do you means  nodejs or database connection crash?

[2016-12-30 01:08] #207 closed

[2016-12-30 07:11] simonschllng commented on #207
Could you please share your solution if this is really solved?

[2016-12-30 14:42] rfines commented on #207
Well the biggest problem was my build process for heroku was wiping out the dist/ directory but I wasn't running the gulp build task in my heroku:production task so the project was never getting recompiled.
In addition I had to copy all of the devDependencies to the dependencies in order for my gulp tasks to run without blowing up.
I also had to add a simple Procfile to the root of the project wit

[2017-01-03 06:12] KunalKapadia commented on #206
@ouzhou I meant to handle `SIGINT` and `SIGTERM` signals, wait for server to serve ongoing requests and then stop the server.

[2017-01-03 06:13] KunalKapadia commented on #160
@vincaslt @wassimz @Altiano @wassimz Closing this.

[2017-01-03 06:13] #160 closed

[2017-01-03 06:14] #151 closed

[2017-01-08 19:47] cloud-tribal opened #219 "Protected route"
What makes this a protected route ?
[code]

[2017-01-09 11:41] KunalKapadia commented on #219
@cloud-tribal We are using `expressJwt` middleware [here](https://github.com/KunalKapadia/express-mongoose-es6-rest-api/blob/develop/server/routes/auth.route.js#L17) for this route, which will verify the json token before execution goes into route handler.

[2017-01-13 06:54] #219 closed

[2017-01-15 17:00] simonschllng opened #232 "Source map path for node-inspector"
Running node-inspector is currently not possible in this project. The reason for this is that the paths in the sourcemaps are incorrect. To validate I cloned the project and committed the dist folder. The result is:
https://sourcemaps.io/validate?url=https%3A%2F%2Fgithub.com%2Fsimonschllng%2Fexpress-mongoose-es6-rest-api-ts%2Fraw%2Fsourcemaps%2Fdist%2Fserver%2Fcontrollers%2Fauth.controller.js

In

[2017-01-18 16:03] erwin16 opened #239 "No coverage information was collected"
Hi there , thanks for this awesome boilerplate ! I'm discovering it step by step...
running

`yarn test:check-coverage`

is passing all tests correctly , but stating:

`No coverage information was collected. Exit without writing coverage information`
`Done in 9.89s.
ERROR: No coverage files found.
error Command failed with exit code 1.
`

How code coverage is handle exactly ?  do we need to add is

[2017-01-20 10:32] osahner commented on #118
I submitted a pull request #247

[2017-01-21 11:35] erwin16 commented on #239
SOLVED !

Need to install istanbul version 1.0.0-alpha.2
`yarn add istanbul@1.0.0-alpha.2 --dev`

and run the script. istanbul/lib/cli.js in package.json

`"test-istanbul": "cross-env NODE_ENV=test babel-node ./node_modules/istanbul/lib/cli.js cover node_modules/mocha/bin/_mocha -- --ui bdd --reporter spec --colors --compilers js:babel-core/register ./server/**/*.test.js"`

mocha tests pass and co

[2017-01-21 11:35] #239 closed

[2017-01-21 12:02] wassimz opened #251 "Error API"
Why not use the library [Hapi Boom](https://github.com/hapijs/boom) instead of creating your own APIError class ???

[2017-01-23 07:15] simonschllng commented on #239
Is this missing in the documentation/readme?

[2017-01-24 02:38] itranga opened #255 "ReferenceError: regeneratorRuntime is not defined"
I try to use  following code in controller . I got the following issue .

Issue   : ReferenceError: regeneratorRuntime is not defined

My code
..........................
function dbQuery(){

  var query = Sources.find().sort({rank: -1});

  query.exec(function(err, objets) {

    return res.json(objets);

  });
}

function serviceCall(){

  var query = Sources.find().sort({rank:1});

  query.exec(

[2017-01-25 10:39] wassimz commented on #154
What about using these packages which are compatible with dotenv:

- dotenvExtended
- dotenvMustache
- dotenvParseVariables

[2017-01-25 13:34] osahner commented on #255
async/await needs the babel-plugin-transform-async-to-generator
see [transform-async-to-generator](https://babeljs.io/docs/plugins/transform-async-to-generator/#installation)

[2017-01-25 21:12] wassimz commented on #255
@osahner

Any help on how to set this plugin and enable the async/await ? I have tried many hint found on google but never work.

Thanks

[2017-01-26 00:04] itranga commented on #255
I have tried it.It's not work .

My Code

 package.json

"plugins": [
      "add-module-exports",
      "transform-async-to-generator"
    ]

[2017-01-26 00:57] itranga commented on #255
I fixed it . Please update gulpfile.babel.js .

gulp.task('babel', () =>
  gulp.src([...paths.js, '!gulpfile.babel.js'], { base: '.' })
    .pipe(plugins.newer('dist'))
    .pipe(plugins.sourcemaps.init())
    .pipe(plugins.babel({plugins: ['transform-runtime']}))
    .pipe(plugins.sourcemaps.write('.', {
      includeContent: false,
      sourceRoot(file) {
        return path.relative(file.path,

[2017-01-26 05:36] wassimz commented on #255
@itranga Thanks it works.

But you got the same issue when running the NPM test task. So I have added the parameters *_--require babel-polyfill_* and it works (in case someone need it)

[2017-01-26 05:53] itranga commented on #255
@wassimz  Thanks . I update my package.json .

[2017-01-26 19:55] decent10 commented on #255
Hi @wassimz
I did the same changes mention above but still getting the same error. Can you provide  your package.json and gulpfile.babel.js file.

[2017-01-27 01:20] itranga commented on #255
gulpfile.babel.js

import gulp from 'gulp';
import gulpLoadPlugins from 'gulp-load-plugins';
import path from 'path';
import del from 'del';
import runSequence from 'run-sequence';
//const babel = require('gulp-babel');

const plugins = gulpLoadPlugins();

const paths = {
  js: ['./**/*.js', '!dist/**', '!node_modules/**', '!coverage/**'],
  nonJs: ['./package.json', './.gitignore'],
  tests: './s

[2017-01-28 09:35] decent10 commented on #255
Thanks @itranga it worked!

[2017-02-01 14:47] Ebsy opened #266 "Getting Mongoose Promise deprecation warning when running test"
Getting the 'infamous' Mongoose warning when running the test.

**DeprecationWarning: Mongoose: mpromise (mongoose's default promise library) is deprecated, plug in your own promise library instead: http://mongoosejs.com/docs/promises.html**

Tried to use mongoose.Promise = require('bluebird') in user.test.js but still getting the warning.

[2017-02-01 14:51] simonschllng commented on #266
Good point! Didn't know that this project still uses mpromise! Thanks for pointing it out.

[2017-02-04 02:18] fcpauldiaz opened #274 "Env vars"
How can I config env vars with dotenv or similar package?

[2017-02-06 09:07] Ebsy commented on #266
Is there an 'easy' fix for this Simon? Looking through the updates, I thought this was fixed by assigning the global ES6 promise to mongoose.Promise

[2017-02-07 07:56] KunalKapadia commented on #266
@Ebsy Can you please attach a screenshot for the same ?
Also can you take the latest code before running tests ?

[2017-02-07 09:18] Ebsy commented on #266
Hi @KunalKapadia, my mistake after all. I updated mongoose to 4.8.1 and got the warning in 'npm test' at the user API POST. if I downgrade back to 4.7.7 as released, I no longer get the warning. There's an issue open on the mongoose repo - https://github.com/Automattic/mongoose/issues/4951 I'll keep an eye on it, thanks. I'll close this now (and I'll try and remember not to upgrade packages before

[2017-02-07 09:18] #266 closed

[2017-02-08 19:46] #255 closed

[2017-02-08 19:53] KunalKapadia commented on #184
@ouzhou Yes it should be `del.sync`. Will be updating it soon. Closing this for now. Thanks.

[2017-02-13 13:45] #184 closed

[2017-02-13 13:55] KunalKapadia commented on #274
Hi @fcpauldiaz

I am planning to move to [node-config](https://github.com/lorenwest/node-config) for configuration management, please suggest your views on this.

[2017-02-13 15:09] KunalKapadia opened #288 "Add health check in Docker Compose"

[2017-02-14 05:59] #118 closed

[2017-02-16 23:47] DangelZM commented on #274
Hello @KunalKapadia and @fcpauldiaz

Related to [https://12factor.net/config](https://12factor.net/config)

I think better use **.env** example files for environments(.env.example, ...), instead to have config in files in /config/env/ folder. And add **.env** in to **.gitignore**.
So you will have ability to configure you environment without making changes in code.

And If you will use docker for

[2017-02-17 05:11] fcpauldiaz commented on #274
Hello @KunalKapadia.

I support @DangelZM statement. It would be easier if there is only one environment file (.env) to config the application instead of multiple config files.

[2017-02-17 06:21] KunalKapadia commented on #274
@fcpauldiaz @DangelZM Definitely moving away from current config files. Now question is whether to use [node-config](https://github.com/lorenwest/node-config) or [.env](https://github.com/motdotla/dotenv), will evaluate both of them and get back here. Meanwhile it'd be great if you can explore [node-config](https://github.com/lorenwest/node-config) and share your thoughts on the same.

[2017-02-19 15:10] peterkrieg opened #303 "Question - How to Have Tests in Nested Folders?"
Tests only run if files are flat in the `server/tests` directory.

Minimum steps to reproduce:

1.  create `auth` folder inside `server/tests`
2.  move `auth.test.js` to inside the `auth` folder
3.  run `yarn test` at root directory of project, and auth tests don't run

Anyone know how to allow for nested tests folders, and have all tests still run?

[2017-02-19 16:08] KunalKapadia commented on #303
@peterkrieg Have updated npm tasks to consider nested tests file.

[2017-02-19 16:10] #303 closed

[2017-02-19 16:47] peterkrieg commented on #303
@KunalKapadia Thanks so much for the quick response and change!

[2017-02-20 14:56] #274 closed

[2017-02-22 08:04] osahner opened #310 "Build/Test failing"
[code]

[2017-02-22 09:24] KunalKapadia commented on #310
@osahner You'll need to create a `.env` file which can be same as `.env.example`.
If you are runnings tests on CI/CD server then you'll need to set env vars on it since `.env` file should not be committed.

Will soon be adding this stuff to README as we have moved to `dotenv` for managing different envs.

[2017-02-22 14:15] osahner commented on #310
@KunalKapadia I see. 👍

[2017-02-22 14:15] #310 closed

[2017-02-24 16:02] beyersito opened #315 "Invalid database name"
Cannot get api to work, changed the database name to one that i created on mongo and this error pops "message": "Internal Server Error",
  "stack": "Error: Invalid database name: 'vsv:27017'

[2017-02-24 17:29] KunalKapadia commented on #315
@beyersito Can you please attach a screenshot ?
Also can you let me know where exactly in code did you update the db name ?

[2017-02-24 17:38] beyersito commented on #315
![image](https://cloud.githubusercontent.com/assets/9970807/23314033/e112a58a-fa9e-11e6-8a7a-b533b3dc1dad.png)
![image](https://cloud.githubusercontent.com/assets/9970807/23314047/f21309d8-fa9e-11e6-8c1b-4adeaa302562.png)

I went to default config

[2017-02-24 17:45] KunalKapadia commented on #315
@beyersito Were you able to start the server successfully ?
Can you send me logs ?

I just took latest from `master` and did `npm run start:debug` and able to access `GET http://localhost:4040/api/users`.

[2017-02-24 17:47] beyersito commented on #315
I am using yarn, maybe thats the problem?

[2017-02-24 17:51] KunalKapadia commented on #315
@beyersito No that shouldn't be an issue at all. Can you please send startup logs ?

[2017-02-24 17:58] beyersito commented on #315
Where can I find them?

[2017-02-24 18:09] KunalKapadia commented on #315
@beyersito When you run `yarn start:debug` or `npm run start:debug` on terminal, what logs do you get ?

[2017-02-24 18:11] beyersito commented on #315
npm run start:debug

yarn start v0.20.3
$ gulp serve
[14:57:56] Requiring external module babel-register
[14:57:56] Using gulpfile D:\Users\Beyersito\Documents\Vixur\VSV\api\express-mongoose-es6-rest-api\gulpfile.babel.js
[14:57:56] Starting 'clean'...
[14:57:56] Finished 'clean' after 54 ms
[14:57:56] Starting 'serve'...
[14:57:56] Starting 'copy'...
[14:57:57] Starting 'babel'...
[14:57:57] Fini

[2017-02-24 18:17] KunalKapadia commented on #315
@beyersito That's very weird. Can you remove the PORT and try again?
Also after starting the serve, Can you tell me the response you get when you hit `http://localhost:4040/api/health-check` ?

[2017-02-24 18:20] beyersito commented on #315
Of which port are talking about?

I get this at that route

{
  "message": "Not Found",
  "stack": "Error: API not found\n    at APIError.ExtendableError (D:\\Users\\Beyersito\\Documents\\Vixur\\VSV\\api\\express-mongoose-es6-rest-api\\dist\\server\\helpers\\APIError.js:35:11)\n    at new APIError (D:\\Users\\Beyersito\\Documents\\Vixur\\VSV\\api\\express-mongoose-es6-rest-api\\dist\\server\\helpe

[2017-02-24 18:22] KunalKapadia commented on #315
@beyersito Are you sure you have taken latest from `master` branch ?

[2017-02-27 16:11] tharakabimal opened #318 "What could be the cause for this error?"
`Promise {
  _bitField: 0,
  _fulfillmentHandler0: undefined,
  _rejectionHandler0: undefined,
  _promise0: undefined,
  _receiver0: undefined,
  _trace:
   { Error
       at Promise.longStackTracesCaptureStackTrace [as _captureStackTrace] (/Users/tharaka/Documents/Projects/eventfly/hyperloop/node_modules/bluebird/js/release/debuggability.js:396:19)
       at Promise._resolveFromExecutor (/Users/t

[2017-02-27 16:37] KunalKapadia commented on #318
@tharakabimal Is this complete log ?
Not sure, but looks like it is either an unhandled promise rejection or you haven't defined success and error handler for a promise.

[2017-02-27 17:24] tharakabimal commented on #318
I'm new to NodeJS and express, so this could be a mistake from my end too. But here's the complete log.

https://gist.github.com/tharakabimal/7885aa2d5d1db4b4cf3af1b3b4e998b6

[2017-02-27 19:14] KunalKapadia commented on #318
@tharakabimal Can you me the code changes that you made in `HTTP GET /api/users` ?

[2017-02-28 03:23] tharakabimal commented on #318
The only change I made to the original code is only on the user model.

https://gist.github.com/tharakabimal/4947dbdaedc1f3b889bb42ab8c61d027

[2017-03-07 13:38] Dineshaws opened #326 "cross-env: Permission denied"
I am getting below error while i run `yarn test` command

**sh: 1: cross-env: Permission denied
error Command failed with exit code 126.**

Thanks

[2017-03-08 18:53] rustanacexd opened #327 "why the need to convert it to es5?"
I am just curious on why the need to convert it to es5 when node 6.5.5 and up supports 99% percent of the es6 features. thank you!

[2017-03-09 12:58] DennisKo commented on #315
I was getting the same error on windows 10.

Delete the port part on line 17 in index.js:

```const mongoUri = `${config.mongo.host}`;```

[2017-03-14 09:05] JohsBerggren opened #337 "Error when passing parameters"
Hi,

Without having modified anything, I get errors when posting to the API.

For example, these POST requests:
http://localhost:8000/api/auth/login?username=react&password=express
http://localhost:8000/api/users?username=test&mobileNumber=12345678

Returns these errors:

"\"username\" is required and \"password\" is required"
"\"username\" is required and \"mobileNumber\" is required"

[2017-03-15 12:03] #337 closed

[2017-03-15 12:31] howardya opened #339 "Question"
In the following code, what will happen when error occur and next(e) is called?

[code]

[2017-03-16 13:09] osahner commented on #339
[the express error handler](https://github.com/KunalKapadia/express-mongoose-es6-rest-api/blob/develop/config/express.js#L80)

[2017-03-16 13:11] osahner commented on #327
[node 4.8](https://github.com/KunalKapadia/express-mongoose-es6-rest-api/blob/develop/package.json#L9) is still supported with this project.

[2017-03-19 23:37] EnergeticPixels opened #342 "util module in index.js"
Kapadia,

   I noticed in line two of your index.js (root project level) that you list 'util' as a module.  Further down in that file, I see where you use it.  But looking at your package.json (manifest file), I don't see it listed anywhere.  I do know that there is a gulp-util and a util on npm.  Which module did you intend?

respectfully,
Anthony

[2017-03-20 07:44] osahner commented on #342
https://nodejs.org/api/util.html

[2017-03-22 14:18] igiagante commented on #251
Does anybody try Boom instead of the class ErrorApi.js?

[2017-03-24 00:59] EnergeticPixels commented on #342
My apologies. Old man, gray hair moment.  Thank you for the reminder.

[2017-03-24 00:59] #342 closed

[2017-03-26 15:02] wassimz commented on #327
Any help on how to disable this conversation  ??

[2017-03-27 09:08] wassimz commented on #315
@KunalKapadia
I got the same issue on Windows 7 and applying the solution mentioned by @DennisKo solved it (removing the port field for the mongoUri)

[2017-03-31 08:37] ouzhou commented on #251
it's easy to use Boom...um . just delete APIError and do little change
![image](https://cloud.githubusercontent.com/assets/7693866/24542967/406e7e44-1630-11e7-88dc-74b9ae22b5ae.png)

[2017-04-03 06:21] erwin16 opened #366 "coverage error"
running :  yarn test:coverage or $ yarn test:check-coverage
raises error
fs.js:871
  return binding.readdir(pathModule._makeLong(path), options.encoding);
                          ^
Error: ENOENT: no such file or directory, scandir '/Users/yves/ES6/express-mongoose-es6-rest-api-develop/node_modules/istanbul-reports/lib/html/assets'

is there anything to modify before running it ?

thanks

[2017-04-03 13:36] erwin16 commented on #366
SOLVED

missing the --report options for Istanbul in the script command line 👍

    "test:coverage": "cross-env NODE_ENV=test ./node_modules/.bin/istanbul cover --report lcov --report json --report text --report html _mocha -- --ui bdd --reporter spec --colors --compilers js:babel-core/register server/tests --recursive",

[2017-04-03 13:36] #366 closed

[2017-04-03 20:17] duard opened #367 "Disable console info"
How to disable this console info ?
![screenshot from 2017-04-03 17-16-38](https://cloud.githubusercontent.com/assets/36894/24630000/5e86ce78-1891-11e7-83c2-8a9e16cc47bb.png)

[2017-04-03 20:32] duard commented on #367
I found it, sorry

[code]

[2017-04-04 04:30] duard commented on #149
@ajainvivek please, post your solution for this.

[2017-04-04 20:13] ArthurJahn commented on #315
Guess that for newer versions of mongodb, the ports are specified before database name. `mongodb://[username:password@]host1[:port1][,host2[:port2],...[,hostN[:portN]]][/[database][?options]]`.
See: https://docs.mongodb.com/manual/reference/connection-string/

[2017-04-05 06:01] #367 closed

[2017-04-05 19:09] #339 closed

[2017-04-06 00:57] dekkofilms opened #374 "gulp not found on deployment"
I'm a little new to the whole deployment process, and really just wanted to ask best practices. I am deploying this to AWS, and in the logs I keep getting the error that the gulp command wasn't found. I know that in AWS it is only running the npm install --production flag. I read that some people move there devDependencies into the dependencies tree. Is this best practice? Is there a better way to

[2017-04-06 00:58] dekkofilms opened #375 "gulp not found (deploying)"
I'm a little new to the whole deployment process, and really just wanted to ask best practices. I am deploying this to AWS, and in the logs I keep getting the error that the gulp command wasn't found. I know that in AWS it is only running the npm install --production flag. I read that some people move there devDependencies into the dependencies tree. Is this best practice? Is there a better way to

[2017-04-06 01:00] #374 closed

[2017-04-06 03:19] paulohf commented on #315
I had the same problem on windows 10, Thx @ArthurJahn!!!

[2017-04-11 14:29] volkancakil opened #383 "limit and skip fields must be numeric"
we need to cast req.query object params to the numeric values

from model's static list method
`.skip(Number(skip))
.limit(Number(limit))`

https://github.com/Automattic/mongoose/issues/3763

[2017-04-11 15:14] osahner commented on #383
this has been fixed with changeset #306

[2017-04-12 03:28] #383 closed

[2017-04-13 17:39] laokele opened #385 "question: debug in vscode"
hi guys,

I was wondering if anyone has used vscode to debug this package? can you share the settings? I tried bunch of different ways, but can't get it working.....

thanks in advance.

[2017-04-17 17:11] duard opened #387 "Warning: a promise was created in a handler"
I'm getting this warning on that RETURN

[code]

[2017-04-17 17:30] duard opened #388 "Error: next is not defined"
That returnnext() give me that error

[code]

[code]

[2017-04-18 21:25] Christilut opened #389 "Supertest-as-promised no longer needed?"
See https://github.com/WhoopInc/supertest-as-promised/issues/44

[2017-04-19 15:00] KunalKapadia commented on #389
Thanks @Christilut for bringing this to notice. Will take care of this in next release.

[2017-04-21 07:27] eyalcohen4 opened #391 "[Feature] Add social auth"
I'm already used this boilerplate for 3 projects, and I think adding a social auth endpoints as a removable module will be a good idea.

Tell me what you think.
@KunalKapadia

[2017-04-23 19:24] KunalKapadia commented on #391
@eyalcohen4 Yea that's a really good idea. Please feel free to raise PR or else will take it up as I find some time for this :)

[2017-04-24 10:07] aloysius-tim commented on #255
Hey,
I'm trying to follow your instructions to set-up babel for Async/Await, but without any success.
Could you please state the steps in order to achieve that?

Ex: "I have added the parameters --require babel-polyfill" ? Where should I add this parameter ?

Is the current master version should work with async/await ?

Thanks so much for your time, Tim

[2017-04-25 05:43] javier-tarazaga opened #395 "Flow"
Hi guys,

Thanks for the project! Really helpful to get started. Quick one though, have you consider adding "Flow" for static type checking?

Thanks!

[2017-04-25 17:57] osahner commented on #395
I would rather prefer Typescript.

[2017-04-25 20:03] myovchev commented on #190
A major reason - performance. Current watch gulp task has poor performance, to be easy noticed when your project grows.

[2017-04-28 10:05] nareshtank001 opened #401 "[Question] How to implement logout?"
How to invalidate or black list token which is generated while user login for logout?

[2017-04-29 03:12] TheHollidayInn commented on #401
I believe you would need to create a black list/removed it from the client side. Here is a github discussion: http://stackoverflow.com/questions/21978658/invalidating-json-web-tokens

[2017-05-01 15:46] osahner commented on #401
A good idea would be to set a reasonable time to live for the token.
[code]
[jwt.sign options](https://github.com/auth0/node-jsonwebtoken#jwtsignpayload-secretorprivatekey-options-callback)

[2017-05-02 04:49] nareshtank001 commented on #401
@TheHollidayInn As per your solution if we save tokens id DB then we have to check it's availability on every request. It will incur overhead on server. And also we may loose statelessness.

[2017-05-02 04:53] nareshtank001 commented on #401
@osahner If we set expiration time and in between client log out then our token is still valid until 1 day. also suppose I delete the token from client's localstorage still somebody has the token by any means , that token still valid for 1 day even if it's deleted from client

[2017-05-02 06:22] osahner commented on #401
@nareshtank001 JWT is lightweight by design. You have to handle token expiration by you own.

[2017-05-04 14:58] okonon commented on #401
Actually I just implemented a blacklist solution using
https://www.npmjs.com/package/express-jwt-blacklist And Redis

[2017-05-04 14:59] okonon commented on #401
You would want to blacklist your token on user logout

[2017-05-04 15:11] osahner commented on #401
@okonon good find!

[2017-05-04 15:38] TheHollidayInn commented on #401
The library used also has an option to check revoked: https://github.com/auth0/express-jwt under "Revoked tokens". Could be used in combination with the blacklist library.

[2017-05-04 22:03] okonon commented on #401
Yeah it works pretty good!

[2017-05-06 13:04] osahner commented on #401
There is a nice writeup by auth0 about signing and revoking.

https://auth0.com/blog/blacklist-json-web-token-api-keys/

[2017-05-19 21:13] ArthurJahn commented on #28
Any updates?

[2017-05-19 22:50] richjava commented on #385
I'd also like to know the answer to this please.

[2017-05-20 03:17] okonon commented on #385
@laokele @richjava try this:
[code]

[2017-05-21 03:06] richjava commented on #385
Yes, thank you @okonon
I made a few adjustments to the code you provided and now it works! :+1:
I changed
`"outFiles": [ "${workspaceRoot}/dist/**/*.js" ]`
to
`"outFiles": [
                "${workspaceRoot}/dist/server/**/*.js"
            ]`

And because I am on Windows, I changed `${workspaceRoot}/node_modules/.bin/babel-node`
 to `${workspaceRoot}/node_modules/.bin/babel-node.cmd`
So my config

[2017-05-21 14:09] okonon commented on #395
Yeah typescript would be nice. @osahner does it mean all other third party libs will need type definitions?

[2017-05-22 00:09] laokele commented on #385
Thanks!!! @richjava @okonon  This works great!

[2017-05-22 07:23] osahner commented on #395
No, not at all @okonon. If the lib has some sort of es5 or es6 export you are set (like lodash etc.). Or you can import anything from the lib with `import * as express from 'express';`. Last resort would be  to declare the types `declare var $:any;`.

[2017-05-23 19:23] okonon commented on #395
Makes sense thanks

[2017-05-30 15:39] lednhatkhanh opened #405 "support async/await function"
Hello, when I try to change my function using async/await like this:
[code]

I got this error when running `yarn start`
[code]

Any ideas on how to fix this or supporting this? Thank you, I'm not so used to these config things.

[2017-05-30 17:52] osahner commented on #405
You need to install the plugin [babel-plugin-syntax-async-functions](https://babeljs.io/docs/plugins/syntax-async-functions/)

[2017-05-31 02:18] lednhatkhanh commented on #405
@osahner thank you but it doesn't work

[2017-06-01 03:54] lednhatkhanh commented on #327
Since node 8 was released and going to become LTS, I think we should drop support for node 4?

[2017-06-04 16:02] lednhatkhanh opened #406 "Remove gulp tasks"
Hello, I am finding a way to disable gulp build entirely, is there any ways to do that? Thank you.

[2017-06-07 21:01] tbergeron opened #407 "Cannot refer newly installed npm package"
This might sound like a pretty rudimentary question but I, in fact, cannot use any npm packages from within my app.

### Here's an example of what's happening.

1. I install a package:
`npm install --save feedparser`

2. I try to refer it anywhere in my code:
`import FeedParser from 'feedparser';`

3. Nodemon refreshes and I get:
`express-mongoose-es6-rest-api_1  | Error: Cannot find module 'feedp

[2017-06-12 06:16] eldyvoon opened #408 "api not found error changing port"
Here's what I did

1. npm install
2. change the port to 3000 in env file
3. npm start

then I hit http://localhost:3000 I got API not found error. I tried http://localhost:3000/health-check it still return API not found?

[2017-06-12 08:36] eldyvoon commented on #408
just realised there's an 'api' prefix.

[2017-06-12 08:36] #408 closed

[2017-06-14 12:31] tbergeron commented on #407
Anybody? I'm still stuck with this and cannot figure out for the life of me how to fix it. Thanks!

[2017-06-14 16:50] tbergeron commented on #407
Seems to be related to Docker. At this point I'm pretty sure it's me being ignorant. I installed the same config on another machine and now it works.

[2017-06-14 16:50] #407 closed

[2017-07-01 03:57] UnknownHero opened #409 "Watcher inside docker container not working"
Hi!

nodemon don't restart after any changes inside *.js files
I use windows 10 with latest Docker Toolbox and Hyper-V as Docker Machine provider

I found a solution here: https://github.com/JacksonGariety/gulp-nodemon/issues/25

[2017-07-03 17:09] fcpauldiaz commented on #405
@lednhatkhanh install the [babel-pollyfil](https://www.npmjs.com/package/babel-polyfill) and import it before all other modules in index.js
[code]

[2017-07-05 07:46] osahner opened #410 "Task: Update dependencies"
So far all dependencies can be updated without problems.

[2017-07-11 17:28] sanketmaru commented on #232
I want to use node-inspector to debug the code. Is this possible in this project ?

[2017-07-16 23:30] rhizohm opened #411 "Installing to production"
Having issues installing to production because of getting .env variables on server. Ideas?

[2017-07-16 23:36] rhizohm commented on #411
was able to add these during deployment usin

[2017-07-17 09:42] tharakabimal opened #412 "API versioning"
How do you suggest that we handle versioning if we use this boilerplate?

[2017-07-22 03:11] BhattaRj commented on #375
Same here

[2017-07-22 15:37] simonschllng commented on #375
In many projects, gulp is expected to be globally installed (npm install -g).

[2017-08-08 02:32] oodgaard commented on #375
The README does say how to start your app in production.

# Use any process manager to start your services
4. pm2 start dist/index.js

[2017-08-11 07:26] iilei opened #419 "Yeoman generator?"
I would be interested in hearing your opinion on a yeoman generator to generate a skeleton project based on this?

[2017-08-16 13:19] GeekRishabh opened #420 "Heroku deployemnt steps"
Please add steps for deploying on heroku .
Getting alot of issue while hosting .

[2017-09-06 20:09] James9074 commented on #172
Hitting this issue myself. Not too sure what's going on here...

[2017-09-18 10:21] matevaai opened #421 "Deprecated Docker instruction"
Current Docker engine documentation says that [`MAINTAINER`](https://docs.docker.com/engine/reference/builder/#maintainer-deprecated) has been deprecated in favor of `LABEL maintainer="..."`

https://github.com/KunalKapadia/express-mongoose-es6-rest-api/blob/490b2850f36589ee31c3504c0c1cfabbec664e4f/Dockerfile#L4

[2017-09-20 21:03] bodyfarmer commented on #28
Updates?

[2017-09-22 12:11] priteshjha4u opened #422 "Debugging in Chrome"
Hi, i am trying to debug this boilerplate application code on chrome developer tool. but it seems even after adding the port *(on which the application is running, 4040)* to network targets *(we can add in chrome at   [chrome://inspect](chrome://inspect) )* things are not working. after a bit of research i found that we must add `--inspect` flag when running the node server. now i am not sure exac

[2017-09-23 08:51] simonschllng commented on #28
Do we need this in express-mongoose-es6-rest-api? One can quickly add multer to an individual project, configure it and is ready to go.

[2017-09-25 07:34] priteshjha4u commented on #422
I have figured it out. we can add `--inspect`  here
[code]

[2017-09-25 07:34] #422 closed

[2017-10-06 15:19] inkredible-raccoonbot opened #423 "Elloborate mongoose connection options"
Hello,
you are using the following mongoose connection options:

`mongoose.connect(mongoUri, { server: { socketOptions: { keepAlive: 1 } } })`

I am surprised, what is the purpose of using a timeout of 1ms as keepAlive? Isn't something like 30000 (30s) more suited?

[2017-10-09 11:51] itranga opened #424 "I need to setup serverless in my API code.Please help me"
I need to setup serverless in my API code.Please help me
https://serverless.com/blog/serverless-express-rest-api/#converting-an-existing-express-application

[2017-10-10 05:09] lukaserat commented on #412
Maybe passing version key through HTTP Header

[2017-10-10 06:05] lirantal commented on #412
May I jump in and suggest taking a look at https://github.com/lirantal/express-version-route ?
It is designed in a way that it has a sister module as well at [express-version-request](https://github.com/lirantal/express-version-request) to de-couple the version definition logic from the route dispatching.

It's really simple and flexible, and we use it fairly well at Nielsen in our Node.js stack.

[2017-10-10 09:33] volynchuk18 commented on #26
None of these solutions suited me. Can I get help?

[2017-10-11 12:51] duard commented on #192
Same problem  here

[2017-10-25 06:39] leninlawrence00 opened #425 "if we create a new folder in es6 code, it is not being created in the 'dist' folder."
I have created a  'views' folder in server  and ran 'yarn start' . But  no folder is being created in  'dist'

[2017-10-25 08:32] leninlawrence00 commented on #425
I have changed the   gulpfile.babel.js file like below and it resolved the issue

const paths = {
  js: ['./**/*.js', '!dist/**', '!node_modules/**', '!coverage/**'],
  nonJs: ['./package.json', './.gitignore', './.env','./**/*.ejs'],
  tests: './server/tests/*.js'
};

[2017-10-25 08:56] leninlawrence00 commented on #425
added one more task  in gulp to process ejs files

gulp.task('ejs',()=>
  gulp.src('./views/*.ejs')
      .pipe(gulp.dest('./dist'))

);

I seek better solution for this

[2017-10-25 15:12] SkopeTN opened #426 "Use different database for tests"
I want to use another database when running tests, how can i perform that ?

Thank you.

[2017-10-25 16:42] simonschllng commented on #426
You need to set the env vars in your test script. see `config/config.js`:

[code]

[2017-10-27 10:54] #426 closed

[2017-10-31 06:23] duard opened #427 "Add SWAGGER"
I'm trying to implement swagger api documentation in this project based on this page https://html5hive.org/how-to-create-rest-api-with-node-js-and-express/ but I get

[code]

[2017-10-31 15:57] sunsgs commented on #391
UP!

[2017-11-03 08:43] Ebsy commented on #427
Have a look through this
https://github.com/KunalKapadia/express-mongoose-es6-rest-api/pull/346/files

[2017-11-03 08:45] duard commented on #427
I follow this article and everything works https://medium.com/@tkssharma/swagger-with-existing-node-app-for-api-definition-9e0bd9fdd2af Thanks !

[2017-11-03 08:45] #427 closed

[2017-11-13 23:45] alukach commented on #11
Running into this as well.

So doesn't this make the following lines useless:

https://github.com/KunalKapadia/express-mongoose-es6-rest-api/blob/490b2850f36589ee31c3504c0c1cfabbec664e4f/config/express.js#L59-L61

If I understand correctly, `err instanceof APIError` will always return `false` as `APIError` has been converted into a function by Babel:

[code]

I'm vurious why nobody else is having

[2017-11-14 10:25] MusarrathS opened #428 "api not found"
{"message":"Not Found","stack":"Error: API not found\n    at APIError.ExtendableError (/home/syed/Documents/api/UserRole/dist/server/helpers/APIError.js:35:11)\n    at new APIError (/home/syed/Documents/api/UserRole/dist/server/helpers/APIError.js:63:101)\n    at /home/syed/Documents/api/UserRole/dist/config/express.js:122:13\n    at Layer.handle [as handle_request] (/home/syed/Documents/api/UserR

[2017-11-15 01:00] mxmzb opened #429 "Move to deep comparison in tests"
It may be cool to set up the example user tests with http://chaijs.com/api/bdd/#method_deep so you don't need to test every attribute.

[2017-11-17 22:42] mxmzb commented on #192
This is a large eyesore for me, does anyone have an idea how to handle this?

[2017-11-18 07:09] sespinosa commented on #401
im using a sessionid to create tokens that you can delete, the point on this is to create sessions in different devices and you can store the sessions on a db like redis or mongo itself, in redis you can create the keys with expiration, and the idea is for the user to see the created sessions and delete in case a device not longer need to access the account.

something like this in the jwt

`{

[2017-11-18 14:37] okonon commented on #192
I agree with everyone here. I tried to add correct stacktrace but ran out of time and was assigned to diff project.

[2017-11-21 01:14] dylanbromby commented on #428
What URL/endpoint are you trying to hit?

[2017-11-21 04:38] MusarrathS commented on #428
its working now i have to put api in front now its done

On Tue, Nov 21, 2017 at 6:44 AM, Dylan Bromby <notifications@github.com>
wrote:

[2017-11-21 06:14] arihantdaga commented on #385
@richjava Thanks for sharing this config..
I tried the same, but it's not working all the time..
one thing - i had to remove "sourceMapPathOverrides" and "diagnosticLogging" as it throws error in launch.json (these paramters are not allowed).
So after running the code is not stopping on the break points..

[2017-11-23 11:37] arikogan commented on #192
+1

[2017-11-28 04:54] okonon commented on #192
@KunalKapadia do you have any suggestions how to proceed?

[2017-12-01 10:48] kartikwar commented on #428
Same issue is coming for me. I am hitting localhost:port/user/

[2017-12-05 11:26] ngKisor opened #431 "gulp serve ends with syntax error"
gulp serve ends with a syntax error on node modules/keypress/index.js with an invalid number
events.js:163
      throw er; // Unhandled 'error' event
      ^
SyntaxError: /home/kisor/OnGoingProjects/hotspot/hotspot_api/server/node_modules/keypress/index.js: Invalid number (374:30)
  372 |     var s = key.sequence;
  373 |     var b = s.charCodeAt(3);

      |                               ^
  375

[2017-12-13 09:35] bijeshp commented on #385
I am getting the following error, break points are not working

[code]

My launch JSON

		{
            "name": "Launch-debug",
            "type": "node2",
            "program": "${workspaceRoot}/index.js",
            "stopOnEntry": false,
            "request": "launch",
            "diagnosticLogging": true,
            "preLaunchTask": null,
			"runtimeExecutable": "${workspaceRoot}/node_mod

[2017-12-21 19:39] wardnath commented on #422
For those who are trying to get debug working with Chrome as well, I changed:
[code]
in gulpfile.babel.js

to

[code]

[2017-12-26 13:58] kartikwar commented on #428
Same issue for me . I am hitting the endpoint /api/{routename}/path. It says api not found

[2017-12-28 11:11] kartikwar opened #432 "Deploying to production error"
I tried to follow commands to deploy but it didn't work out.
Config validation error :  child MONGO_HOST fails. because ["Mongo_host is required"]

[2018-01-13 15:13] nhim175 commented on #420
A few things I need to do in order to deploy to Heroku
## 1. Change in `package.json`
from
[code]
to
[code]
Reason: heroku will run `npm start` to start the app
For dev: `yarn start` will be `yarn run dev`

## 2. Change in `gulpfile.babel.js`
from
[code]
to
[code]
Reason: In order to deploy `/dist` to Heroku, `/dist` should be a heroku's git repo.

## 3. Deploy to Heroku manually
[code]

or using

[2018-01-21 00:35] itranga opened #433 "need to setup serverless"
I need to setup serverless in my API code.Please help me
https://serverless.com/blog/serverless-express-rest-api/#converting-an-existing-express-application

[2018-01-25 12:23] gen4sp opened #434 "TypeError: Cannot read property 'getAllInfo' of undefined during 500 error"
[code]

[2018-01-25 15:15] CheeKeatSong commented on #420
[code]
I followed your steps and I got this error. Can you please tell me why?

[2018-03-06 17:05] gianpaj opened #436 "Upgrade to mongoose 5"
I'll update this ticket with the PR number once this is done

[2018-03-06 17:07] gianpaj opened #437 "Migrate from mocha to jest"
Some reasons on top of mind:
- better speed
- built-in test coverage
- built-in matcher (similar language to chai)

I'll update with a PR once this is done

[2018-03-06 17:13] gianpaj opened #438 "Use mongodb in-memory server for tests"
https://github.com/nodkz/mongodb-memory-server

https://github.com/graphql-compose/graphql-compose-mongoose/commit/7a6ac2de747d14281f9965f418065e97a57cfb37

[2018-03-07 18:20] Ramakrishnatp opened #439 "How to Join these two documents for API calls"
City Document :
{
"_id" : ObjectId("555ec317e6e8ce4e0d3c2541"),
"state" : ObjectId("54f91ea29f2e20e67d61ba6c"),
"deleted" : false,
"created" : ISODate("2015-05-22T05:48:07.831Z"),
"description" : "",
"name" : "Hydrabad",
"__v" : 0
}

State Document:
{
"_id" : ObjectId("54e461ef7214e6583c0c5ed5"),
"__v" : 0,
"created" : ISODate("2015-02-18T09:57:03.585Z"),
"deleted" : false,
"description" : "",
"na

[2018-03-23 16:07] gianpaj commented on #439
@Ramakrishnatp see http://mongoosejs.com/docs/populate.html

[2018-03-24 09:48] #141 closed

[2018-03-27 11:04] skoope opened #447 "(err instanceof APIError) always returning false"
in config/express.js :
[code]
is supposed to catch errors that aren't instanceof APIError and convert them, but this always return false :
example :
[code]

[2018-03-29 18:12] kitce commented on #447
Which version of the boilerplate are you using?

[2018-03-29 18:17] kitce opened #448 "What is the reason of removing babel and gulp?"
With babel, I can use import/export statements, especially `export default` and `export {}`

[2018-03-30 10:03] skoope commented on #447
version 1.0.0

[2018-03-30 10:30] kitce commented on #447
I guess that's because of Babel.

You may need to use `babel-plugin-transform-builtin-extend` to make `instanceof` works as expected in Babel environment.

Take a look of [this](https://stackoverflow.com/questions/33870684/why-doesnt-instanceof-work-on-instances-of-error-subclasses-under-babel-node#33877501).

[2018-03-30 10:59] skoope commented on #447
I'll take a look at it ! thank you @kitce

[2018-03-31 14:32] cotterjd opened #449 "Dockerfile doesn't account for Mongo at all"
I'm not sure how the Dockerfile is supposed to work absent of any db configuration

[2018-04-01 22:45] kunalkapadia commented on #449
@cotterjd Mongo is taken care of in Docker-Compose. Docker just builds the service image. DB is generally hosted and accessed via http whose path is provided to service via env variable.

[2018-04-01 22:45] #449 closed, assigned to nobody

[2018-04-03 16:17] georgiosgiatsidis opened #450 "bodyParser: unable to obtain form-data from post request."
I can't obtain form-data of a post request.
req.body is empty or undefined.
I see in express.js
`app.use(bodyParser.urlencoded({ extended: true }));`
It seems to be ok but I don't know. I tried to make the same request in a clean express js rest api and it worked correctly.

The Content-type is application/json

[2018-04-04 06:06] mhnpd opened #451 "joi error: Cannot send HTTP-status [422] while joi validation is failed"
I am trying to throw 422 error if validation fails in Joi validation with proper message

[2018-04-15 21:25] alexandre-jalat opened #452 "Yarn build not working anymore"
Hey guys,

I've tried to deploy a new api using this wonderful boilerplate and seems that the package.json have been changed.

Yarn build do not work anymore; is not found.

What is the new way to compile to ES5 for production use ? The readme.md need to be change BTW.

Thanks,
Tim

[2018-04-26 07:10] roymina commented on #452
I checked commits before and found this:
[code]
seems ` "build":"gulp",` command has been removed in recent commits

[2018-05-09 18:40] cotterjd commented on #432
I'm also wondering how environment variables are handled for production with this boilerplate. It doesn't look like any .env is being copied to dist/ when you run gulp build.

[2018-05-30 01:17] danieloquendo commented on #452
Idea of why of sample error with the yarn build?

[2018-06-04 10:30] ivklgn commented on #452
Same problem

[2018-06-21 20:35] exwyezed commented on #452
@kunalkapadia

[2018-07-04 12:38] ngmikeng commented on #395
Hi guys,
I was also working on a Typescript version and based on this great project for purpose learning Typescript, please take a look and give me some feedback when you have chance.
https://github.com/ngmikeng/mn-express-typescript-rest-starter

[2018-07-04 14:46] osahner commented on #395
I really like what you are doing @ngmikeng !

[2018-07-05 02:53] ngmikeng commented on #395
Thanks a lot @osahner ! :smile:

[2018-07-05 14:52] xAt0mZ commented on #452
Gulp has been removed with commit c669d339994e238a5d644e67f8051dbcd4df94b3.
Babel (transpilation to es5) has been removed with commit 9bb08991d36ea78fcbc6c64f22142d581a4da4c2.

Seems @kunalkapadia wants to avoid transpiling the code to es5, as es6 is the norm now and you don't need to bundle all your project into a single file (according to internet, for example [here](https://www.reddit.com/r/nod

[2018-07-05 20:38] DarkSmile92 commented on #26
Having the same issue right now..

[2018-07-11 06:53] ghost opened #454 "Converting mobile number to password"
Has anyone done this already? As we're not using mobile numbers at our product but passwords, we'd like to change that but not sure how to approach to that.

[2018-07-11 15:05] selmi-karim commented on #420
same here. any solution guys ?

[2018-07-22 02:00] MarkAdell opened #455 "What is the benifit of ExtendableError?"
What is the benifit of ExtendableError? why not let APIError class directly extend Error?

[2018-08-24 13:30] ssurabhi10 commented on #420
These are the steps for deploying code on heroku, where PROVIDER is heroku. (Use 'heroku' in place of PROVIDER).  Run these steps in terminal one by one.

git config --global user.name $GIT_USER_NAME

git config --global user.email $GIT_USER_EMAIL

# Install the Heroku gem (or the Heroku toolbelt)
gem install $PROVIDER

# Add your Heroku git repo:
git remote rm $PROVIDER ;

git remote add $PROVIDE

[2018-08-27 04:44] geekrishabh commented on #420
Figured Out an Year Ago

[2018-08-27 04:44] #420 closed

[2018-09-12 16:08] #375 closed

[2018-09-15 23:15] nijat13 commented on #436
Hi @gianpaj, what is the status?
I'm also trying to do it. May I help you?

[2018-09-16 10:11] gianpaj commented on #436
I haven't started and unfortunately won't have the time any time soon

[2018-11-21 18:09] voodee commented on #434
any progress?

[2018-12-29 13:54] arimourao opened #456 "Where is the user object coming from?"
Hey guys, I'm currently studying nodejs, and this boilerplate is helping me a great deal. But I got stuck in one thing. See the code below to update an user

[code]

Is the client supposed to send the entire user in the request? If not, how is the user embedded in the request?

[2018-12-29 14:39] okonon commented on #456
few.user is not what you want. It is an object which contains information that was encoded in JWT and got decided after successfull JWT validation.

Client should send user information in req.body
And you should:
- Select user from database fires to see if user exists
- update user that you selected in previous step with information from req.body
- save user to database

[2018-12-29 14:42] arimourao commented on #456
@okonon Ok tnx man. So I have to first have a succesful login through JWT so I can update the user, is that it? Can I test this using Postman?

[2018-12-29 14:48] okonon commented on #456
First check if the route that your update function is tied to is protected with JWT. If yes then you will get req.user automatically if client (Postman) sends requests with valid Authorization token (you get this token from auth endpoint)

Usually this req.user object is for checking JWT decoded info.

I think you are confusing it with user records stored in the database.

[2018-12-29 14:51] okonon commented on #456
User routes are not protected. So I think you will not get req.user object at all.

[2018-12-29 14:59] arimourao commented on #456
@okonon exactly, it is not protected. This is very confusing. How come no one noticed until now? Maybe we are missing something. This should be more clear in the documentation.

[2018-12-29 15:01] okonon commented on #456
see example pseudoscode below wrote it on my phone so I do not know if this actual code will work and I apologize for formatting
[code]

[2019-01-05 01:36] arimourao commented on #436
Are there many changes in version 5?

[2019-01-07 23:52] AlaeddineMessadi opened #457 "Why I don't see my changes when I modify code"
Hello guys, I just started a project, cloned the repo and run docker-compose

The app is up and running and get a response from `localhost:4040/api/health-check` although when I modify the code I don't see my changes.

Any suggestions please?

[2019-01-08 04:38] okonon commented on #457
You need to rebuild Docker image and run that new version with your changes in it.

[2019-01-08 04:39] okonon commented on #455
Also interested in this.

[2019-01-08 18:09] idanb11 opened #458 "getting this error when I run - yarn test:coverage"
[code]

[2019-01-08 18:10] idanb11 commented on #458
I get the same error when I run

`yarn test:check-coverage`

[2019-01-08 18:16] idanb11 opened #459 "yarn build doens't exist - how does one build the app?"
[code]

and the README needs to be updated to account for all the changes done recently.

[2019-01-08 18:32] AlaeddineMessadi commented on #457
Thank you @okonon for your answer, do you mean I have to rebuild the image each single change I make?

Because in the `docker-compose.yml` file  Line 10
says ` - .:/app` allowing you to modify the code without having to rebuild the image.

[2019-01-09 04:08] okonon commented on #457
hmm maybe restart it then?

[2019-01-18 15:26] AlaeddineMessadi commented on #457
I just installed `nodemon` to automatically restart the node application

[2019-01-18 15:26] #457 closed, assigned to nobody

[2019-02-02 17:53] sunil0047 opened #460 "getting the below error after npm start"
C:\Users\git project\express-mongoose-es6-rest-api\config\config.js:30
  throw new Error(`Config validation error: ${error.message}`);
  ^

Error: Config validation error: child "JWT_SECRET" fails because ["JWT_SECRET" is required]

[2019-02-25 02:24] gfpalacios commented on #460
take a look at your .env.example and create a copy of that file as ".env". Then, create a db in your mongo as "express-mongoose-es6-rest-api-development" and restart the server.

[2019-03-09 15:35] ChristofferSkog21st opened #461 "Misleading docs about nodemon"
The features section in the docs states that nodemon is available in the project, when it's clearly not. It's not added as a dependency or as a command in the project. Maybe remove this from the docs or actually add nodemon?

[2019-03-21 13:43] selmi-karim commented on #149
same problem, @ajainvivek  post your solution for this please.

[2019-06-04 19:48] #411 closed

[2019-07-26 13:35] okonon commented on #455
@MarkAdell i am wondering what direction you went since this project is stale and no one replied to your question?

[2019-11-22 09:56] zuest commented on #26
for my case it was http://localhost:4040/api/health-check

[2020-04-26 17:21] nijat13 commented on #461
The same, I've added manually.
I think, no more contribution for this repo.

[2020-07-20 06:44] thunderwin opened #467 "How to server static files?"
`app.use("/static", express.static(path.join(__dirname, "public")));
`

How to server static files?

I did some wrong?

I put it on config/express.js

[2020-07-20 14:57] DangelZM commented on #467
@thunderwin can you share where 'public' folder located in your project structure?
app.use('/static', express.static(path.join(__dirname, 'public'))) try to find 'public' in config/public
if your 'public' folder located in root folder of your project use
app.use('/static', express.static(path.join(__dirname, '/../public')));

__dirname - The directory name of the current module, so it path to dire

[2020-07-27 07:59] aravindhkm commented on #32
@tluanga pls let me know. how to fix this issue?

[2020-07-27 10:22] aravindhkm commented on #428
@kartikwar how do fix this issue?

[2020-07-27 10:35] aravindhkm commented on #315
i had the same problem on ubuntu , pls help me @kunalkapadia

[2020-07-27 13:45] ArthurJahn commented on #315
Have you tried this?

[2020-10-09 13:31] markxxv commented on #185
For some reason exists models right? So why you should duplicate model fields in controller? It's stupid monkey work. The model must ignore params that not present. Otherwise there’s  a trouble understanding the architecture.

Look example in Laravel:

[code]

[2022-03-22 01:35] jpolvora commented on #448
node 14+ allows es6+ syntax nativelly. babel is great, but today is optional for most of users.
https://nodejs.org/dist./v14.10.0/docs/api/esm.html